.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 15px 0;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin: 0 20px;
  }
  
  .navbar ul li a {
    color: #7f3563;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar ul li a:hover {
    color: #bb59ca; /* Accent color for hover */
  }