#projects {
    padding: 100px 50px;
    text-align: center;
    background-color: #121212;
    justify-content: center;
    text-align: center;
  }
  
  #projects h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #00ff00;
    margin-bottom: 40px;
    justify-content: center;
    
  }
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    gap: 20px; /* Space between the cards */
    padding: 20px;
    justify-content: center;
    text-align: center;
    
  }
  
  .project-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
  }

    /* Expanded project container */
  .expanded-project {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background-color: #121212;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  }

  .expanded-content {
    color: #fff;
    padding: 40px;
    text-align: center;
  }

  .expanded-content h3 {
    font-size: 2rem;
    color: #00ff00;
  }

  .expanded-content p {
    font-size: 1.2rem;
    color: #ccc;
  }

  .expanded-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #121212;
    border: none;
    cursor: pointer;
  }

  .expanded-content button:hover {
    background-color: #00cc00;
  }
  .project-card h3 {
    color: #00ff00;
  }

  .project-card h4 {
    color: #949494;
  }
  
  
  .project-card p {
    color: #ccc;
    margin: 10px 0;
  }
  
  .project-card a {
    color: #00ff00;
    text-decoration: none;
    font-weight: bold;
  }
  
  .project-card a:hover {
    color: #fff;
  }
  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    color: #00ff00;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    background-color: #00ff00;
    color: #121212;
  }

  @media (max-width: 768px) {
    .projects-container {
      grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns on medium screens */
    }
  }
  
  @media (max-width: 480px) {
    .projects-container {
      grid-template-columns: 1fr; /* Stack the projects vertically on small screens */
    }
  }