* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
  line-height: 1.6;
}

h1, h2 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  color: #ad3789;  /* Accent color for headings */
}

h2 {
  font-size: 2rem;
  color: #ffffff;
}

p {
  font-size: 1.2rem;
  color: #ccc;  /* Slightly lighter text for better readability */
}

a {
  color: #965a96;  /* Accent color for links */
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}


/* Home Section */
#home {
  background-color: #121212;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home h1 {
  font-size: 4rem;
  color: #ffffff;
}

/* About Section */
#about {
  background-color: #1e1e1e;
  padding: 100px 50px;
  text-align: center;
}

#about h2 {
  font-size: 2.5rem;
  color: #fff;
}

#about p {
  font-size: 1.2rem;
  color: #ccc;
}

/* Projects Section */
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 100px 50px;
  background-color: #121212;
}

/* Contact Section */
#contact {
  background-color: #1e1e1e;
  padding: 100px 50px;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  color: #ffffff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .navbar ul {
    flex-direction: column;
    padding: 10px;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .contact-links {
    flex-direction: column;
  }
}